* {
  color: white;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
}

.header {
  font-size: 14px;
  font-weight: 700;
}

#navItem:hover {
  color: #b9b9b9;
}

.container00 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.img-navbar {
  width: 200px;
  margin: -10px 30px 0 -10px;
}

.button {
  padding: 15px 35px;
  border: 2px solid white;
  margin-right: 10px;
}

.arrowDown {
  width: 115px;
  display: inline-block;
  margin-top: 15px;
}

.moreInfo {
  margin: 150px auto;
}
.moreInfo a {
  text-decoration: none;
  color: white;
  border-bottom: 1px solid white;
}
.moreInfo a:hover {
  color: #b9b9b9;
  border-bottom: 1px solid #b9b9b9;
}

.footer ul {
  height: 10vh;
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
  list-style: none;
  font-size: 14px;
  font-weight: 500;
}

ul li span {
  opacity: 0.5;
}

li a {
  text-decoration: none;
  color: white;
}
li a:hover {
  color: #b9b9b9;
}

@media (max-width: 500px) {
  .img-navbar {
    width: 180px;
  }
  .footer ul {
    font-size: 10px;
  }
}
@media (max-width: 350px) {
  .img-navbar {
    width: 140px;
  }
}
body {
  background-color: black;
}

.container01 {
  background-image: url(../../Images/home/01.jpg);
}

.container02 {
  background-image: url(../../Images/home/02.jpg);
}

.container03 {
  background-image: url(../../Images/home/03.gif);
}

.container04 {
  background-image: url(../../Images/home/04.jpg);
}

.pageContent {
  padding-top: 200px;
}

.shortTitle {
  width: 550px;
  margin-bottom: -25px;
}

.mediumTitle {
  width: 650px;
  margin-bottom: -25px;
}

@media (max-width: 790px) {
  .shortTitle, .mediumTitle {
    width: auto;
  }
}
@media (max-width: 600px) {
  .shortTitle, .mediumTitle {
    font-size: 26px;
  }
}
.container05 {
  background-image: url(../../Images/falcon9/01.jpg);
}

.titleFalcon9 {
  margin-top: 300px;
  font-family: "Rubik", sans-serif;
  font-size: 90px;
  font-weight: 700;
}

.numberContainer {
  margin: 100px auto;
}

.titleNumb {
  font-size: 90px;
}

.container06 {
  background-image: url(../../Images/falcon9/02.jpg);
}

.containerFalcon9Desc {
  padding-top: 250px;
}

.falcon9Desc {
  max-width: 650px;
  text-align: justify;
  font-size: 22px;
  line-height: 50px;
}

.carousel01 {
  background-image: url(../../Images/falcon9/03.jpg);
}

.carousel02 {
  background-image: url(../../Images/falcon9/04.jpg);
}

.carousel03 {
  background-image: url(../../Images/falcon9/05.jpg);
}

.carousel04 {
  background-image: url(../../Images/falcon9/06.jpg);
}

.carousel05 {
  background-image: url(../../Images/falcon9/07.jpg);
}

.carouselContainer {
  padding: 300px 10px 0;
  max-width: 500px;
  text-align: justify;
}

.titleOverView {
  font-size: 30px;
}

.subTitleOverView {
  font-size: 16px;
  line-height: 50px;
}

.container08 {
  background-image: url(../../Images/falcon9/08.jpg);
}

.carousel06 {
  background-image: url(../../Images/falcon9/09.jpg);
}

.carousel07 {
  background-image: url(../../Images/falcon9/10.jpg);
}

.carousel08 {
  background-image: url(../../Images/falcon9/11.jpg);
}

.carousel09 {
  background-image: url(../../Images/falcon9/12.jpg);
}

.carousel10 {
  background-image: url(../../Images/falcon9/13.jpg);
}

.carousel11 {
  background-image: url(../../Images/falcon9/14.jpg);
}

.carouselSubTitle {
  background-color: black;
}

@media (max-width: 900px) {
  .titleFalcon9, .titleNumb {
    font-size: 80px;
  }
  .falcon9Desc {
    max-width: 500px;
    font-size: 18px;
    line-height: 40px;
  }
}
@media (max-width: 430px) {
  .titleFalcon9, .titleNumb {
    font-size: 54px;
  }
}
.container10 {
  background-image: url(../../Images/humanFlight/01.jpg);
}

.container11 {
  background-image: url(../../Images/humanFlight/02.jpg);
}

.container12 {
  background-image: url(../../Images/humanFlight/03.jpg);
}

.container13 {
  background-image: url(../../Images/humanFlight/04.jpg);
}

.container14 {
  background-image: url(../../Images/humanFlight/05.jpg);
}

.HSTitle {
  padding-top: 280px;
  font-family: "Rubik", sans-serif;
  font-size: 120px;
  font-weight: 700;
}

.HSSubTitle {
  font-size: 30px;
  font-weight: 200;
  margin-bottom: 100px;
}

.betweenContainers {
  margin: 100px auto;
  max-width: 840px;
  font-size: 20px;
}
.betweenContainers a {
  text-decoration: none;
  color: white;
  border-bottom: 1px solid white;
}
.betweenContainers a:hover {
  color: #b9b9b9;
  border-bottom: 1px solid #b9b9b9;
}

.pageContentRight {
  padding-top: 15%;
  padding-left: 55%;
}

.pageContentLeft {
  padding-left: 10%;
  padding-top: 15%;
}

.HSShortTitle {
  font-size: 58px;
  font-weight: 700;
  margin: 20px auto;
}

.HSShortSubTitle {
  font-size: 16px;
  font-weight: 200;
}

@media (max-width: 840px) {
  .HSTitle {
    font-size: 80px;
  }
  .HSSubTitle {
    font-size: 24px;
  }
  .spacexText {
    padding: 0 20px;
  }
  .HSShortTitle {
    font-size: 48px;
  }
  .HSShortSubTitle {
    font-size: 14px;
  }
}
@media (max-width: 570px) {
  .HSTitle {
    font-size: 50px;
  }
  .HSSubTitle {
    font-size: 18px;
  }
  .HSShortTitle {
    font-size: 30px;
  }
  .HSShortSubTitle {
    font-size: 14px;
  }
}
@media (max-width: 390px) {
  .pageContentRight, .pageContentLeft {
    padding-left: 0%;
    text-align: center;
  }
  .HSTitle {
    font-size: 36px;
  }
  .HSSubTitle {
    font-size: 14px;
  }
  .spacexText {
    font-size: 16px;
  }
  .HSShortTitle {
    font-size: 36px;
  }
  .HSShortSubTitle {
    font-size: 14px;
  }
}

/*# sourceMappingURL=style.css.map */
