body {
  background-color: black;
}

.container01 {
  background-image: url(../../Images/home/01.jpg);  
}

.container02 {
  background-image: url(../../Images/home/02.jpg);
}

.container03 {
  background-image: url(../../Images/home/03.gif);
}

.container04 {
  background-image: url(../../Images/home/04.jpg);
}

.pageContent{
  padding-top: 200px;
}

.shortTitle{
  width: 550px;
  margin-bottom: -25px;
}

.mediumTitle {
  width: 650px;
  margin-bottom: -25px;
}

@media (max-width: 790px) {
  .shortTitle, .mediumTitle {
    width: auto;
  }
}

@media (max-width: 600px) {
  .shortTitle, .mediumTitle {
    font-size: 26px;
  }
}